<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style_art.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body >

    <header class="m-4 p-4">
        <nav>
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-3">
                    <h3 id="logo">Live in art</h3>
                </div>
                <div class="col-3">
                </div>
                <div class="col">
                    <img src="./art_photos/logo.png" alt="" class="hamburger">
                </div>
            </div>
            
            
        </nav>
        <section class="section1">
            <div class="hero">
                <img src="./art_photos/slider.jpg">
                <h1 class="headline">Live in art</h1>
            </div>
        </section>
    </header>

    <div class="slider"></div>
    <section class="section2">
        <h1 class="display-3 text-sm-center ">P O R T F O L I O</h1>
        <center><img src="hr.png" alt="" class="align-center"></center>
        
         <div class="container">

            <div class="row">
                <div class="col-3">
                    <img src="./art_photos/gallery1.jpg" class="img1 img-fluid d-block m-3">
                    <img src="./art_photos/gallery6.jpg" class="img1 img-fluid d-block m-3">
                </div>
                <div class="col-3">
                    <img src="./art_photos/gallery4.jpg" class="img1 img-fluid d-block m-3">
                    <img src="./art_photos/gallery5.jpg" class="img1 img-fluid d-block m-3">
                </div>
                <div class="col-3">
                    <img src="./art_photos/gallery3.jpg" class="img1 img-fluid d-block m-3">
                    <img src="./art_photos/gallery2.jpg" class="img1 img-fluid d-block m-3">
                    <img src="./art_photos/gallery7.jpg" class="img1 img-fluid d-block m-3">
                </div>
                <div class="col-3">
                    <img src="./art_photos/gallery8.jpg" class="img1 img-fluid d-block m-3">
                    <img src="./art_photos/gallery9.jpeg" class="img1 img-fluid d-block m-3">
                </div>
            </div>

        </div>
    </section> 

     <section class="section3 text-sm-center">
        <h1 class="display-3 text-sm-center ">C O U R S E S</h1>
        <center><img src="hr.png" alt="" class="align-center" style="padding-bottom: 10%;"></center> 
        <div class="container">

            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <img src="./art_photos/gallery9.jpeg" alt="" class="img1 img-fluid" >
                        <h3> SKETCHING CLASS </h3>
                        <p class="text-weight-light" >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Facilis itaque recusandae cupiditate minus doloribus nihil 
                             dolor optio, temporibus omnis, nobis commodi nulla neque 
                             dolore ducimus molestiae ratione animi, excepturi pariatur.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="./art_photos/gallery3.jpg" alt="" class="img1 img-fluid">
                        <h3> PAINTING CLASS </h3>
                        <p class="text-weight-light" >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Facilis itaque recusandae cupiditate minus doloribus nihil 
                             dolor optio, temporibus omnis, nobis commodi nulla neque 
                             dolore ducimus molestiae ratione animi, excepturi pariatur.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="./art_photos/sketch3.png" alt="" class="img1 img-fluid" style="padding-top: 10%;">
                        <h3> ILLUSTRATION CLASS </h3>
                        <p class="text-weight-light" >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Facilis itaque recusandae cupiditate minus doloribus nihil 
                             dolor optio, temporibus omnis, nobis commodi nulla neque 
                             dolore ducimus molestiae ratione animi, excepturi pariatur.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section> 

    <section class="section4">
        <h1 class="display-3 text-sm-center ">C O N T A C T  U S</h1>
        <center><img src="hr.png" alt="" class="align-center" ></center> 
        <div class="container" style="width: 50%;" >
            <form action="" target="_blank" class="container ">
                <div class="w3-section">
                  <label>Name</label>
                  <input class="w3-input w3-border" type="text" name="Name" required>
                </div>
                <div class="w3-section">
                  <label>Email</label>
                  <input class="w3-input w3-border" type="text" name="Email" required>
                </div>
                <div class="w3-section">
                  <label>Message</label>
                  <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
              </form>
          </div>
    </section>
    <footer>
        <div class="p-3 text-light text-center " style="background-color:#698474;">Powered By ThemeHub </div>
    
     </div>
      </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.5/scrollreveal.min.js" 
    integrity="sha256-8VU/+18Z5eyYrv12HuV6lH74T2PFmP1ggKi+JkwYDHE=" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" 
    integrity="sha256-ABrLsV2caVEMCBfm3eNhv/CYQG+tGCqzw2f4b/Pag0M=" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
     integrity="sha256-v/YsEqWkVsiNHryCWg+vjC/eDBakMAgOsCJRa0kNPOg=" 
     crossorigin="anonymous"></script>
     <script src="app_art.js"></script>
</body>
</html>