<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style_india.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body data-spy="scroll" data-target=".navbar" class="bg-dark text-light">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">INDIA</a>
    <div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#section1" class="nav-link ">Home</a></li>
        <li class="nav-item"><a href="#section2" class="nav-link ">History</a></li>
        <li class="nav-item"><a href="#section3" class="nav-link ">Culture</a></li>
        <li class="nav-item"><a href="#section4" class="nav-link ">Explore</a></li>
        <!-- <li class="nav-item"><a href="#section5" class="nav-link ">Contact Us</a></li> -->
    </ul>
    </div>
  </nav>
  <!-- nav bar end -->
    <header id="#section1">
    <!--slider-->
    <div id="demo" class="carousel slide" data-ride="carousel" >
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./india_photos/slider1.png" alt="" width="1100" height="500">
            <div class="carousel-caption">
              <h3>-Taj mahal , Agra</h3>
              <p>“Taj Mahal is not just a monument, but a symbol of love.”</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="./india_photos/slider2.jpg" alt="" width="1100" height="500">
            <div class="carousel-caption">
              <h3>- Holi </h3>
              <p>"The greatness of a culture can be found in its festivals"</p>
            </div>   
          </div>
          <div class="carousel-item">
            <img src="./india_photos/slider3.jpg" alt="" width="1100" height="500">
            <div class="carousel-caption">
              <h3>- Kathakali</h3>
              <p>"The Dance is a poem of which each movement is a word."</p>
            </div>   
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    <!--slider end-->
    </header>

  <section id="section2" class="container">
    <h3 class="display-3 font-weight-bold text-sm-center">History</h3>
    <center><hr class="bg-light " width="50%"></center>
    <div class="row">
      <div class="col-sm">
        <img src="./india_photos/history.jpg" alt="" class="img-fluid d-block " style="margin-left: 100px; z-index: -1;">
      </div>
      <div class="col-sm">
        <p class="mt-2" style="background-color: black; padding: 10%;z-index: -1; ">
          History (from Greek ἱστορία, historia, meaning 'inquiry; knowledge acquired by investigation') is the past as
          it is described in written documents, and the study thereof. Events occurring before written records are
          considered prehistory. "History" is an umbrella term that relates to past events as well as the memory, discovery,
          collection, organization, presentation, and interpretation of information about these events. Scholars who write
          about history are called historians.
        </p>
      </div>
    </div>
  </section>

  

  <section id="section3" class="container">
    <h3 class="display-3 font-weight-bold text-sm-center">Culture</h3>
  <center><hr class="bg-light " width="50%"></center>
    <div class="row">


      <div class="col-sm">

        <div class="container1">
          <div class="box">
            <div class="content">
              <h2>Dance</h2>
              <h3></h3>
              <p>Dance in India comprises numerous styles of dances, generally classified as classical or folk. As with other aspects of Indian culture,
                different forms of dances originated in different parts of India, developed according to the local traditions and also imbibed elements from other
                parts of the country. </p>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm">

        <div class="container1">
          <div class="box">
            <div class="content">
              <h2>Music</h2>
              <h3></h3>
              <p>The music of India includes multiple varieties of Punjabi Music, classical music, folk music, filmi, Indian rock, and Indian pop. India's
                classical music tradition, including Hindustani music and Carnatic, has a history spanning millennia and developed over several areas.
                Music in India began as an integral part of socio-religious life. </p>
            </div>
          </div>
        </div>

      </div>


    </div>
    <div class="row">


      <div class="col-sm">

        <div class="container1 con3">
          <div class="box">
            <div class="content">
              <h2>Food</h2>
              <h3></h3>
              <p>Indian cuisine consists of a wide variety of regional and traditional cuisines native to the Indian subcontinent. Given the range of diversity
                in soil type, climate, culture, ethnic groups, and occupations, these cuisines vary substantially from each other and use locally available spices,
                herbs, vegetables, and fruits</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm">

        <div class="container1 con4">
          <div class="box">
            <div class="content">
              <h2>Clothes</h2>
              <h3></h3>
              <p>The clothing in India encompasses the wide variety of Indian embroidery, prints, handwork, embellishment, styles of wearing cloths.
                A wide mix of Indian traditional clothing and western styles can be seen in India.</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </section>

  <section id="section4" class="container">
    <h3 class="display-3 font-weight-bold text-sm-center">Explore</h3>
  <center><hr class="bg-light " width="50%"></center>

  <div class="row p-4">
    <div class="col">
 <img src="./india_photos/explore.jpg" alt="" class="img-fluid d-block m-4">
 <img src="./india_photos/explore2.jpg" alt="" class="img-fluid d-block m-4">
 <img src="./india_photos/explore4.jpg" alt="" class="img-fluid d-block m-4">
 
 <img src="./india_photos/home5.jpg" alt="" class="img-fluid d-block m-4">
    </div>
    <div class="col">
      <img src="./india_photos/explore1.jpg" alt="" class="img-fluid d-block m-4">
      <img src="./india_photos/home2.jpg" alt="" class="img-fluid d-block m-4">
 
 <img src="./india_photos/explore3.jpg" alt="" class="img-fluid d-block m-4">
    </div>
  </div>

  </section>

  <footer>
    <div class="p-3 text-light text-center " style="background-color:#698474;">Powered By ThemeHub </div>

 </div>
  </footer>
</body>
</html>