<html>
    <title>GYM</title>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="style_gym.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
<a href="" class="navbar-brand">ABCZ</a>
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#id1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="id1"> 
    <ul class="navbar-nav text-center ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a href="#abt" class="nav-link">ABOUT</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">CONTACT US</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">OFFERS</a>
        </li>
        <li  class="nav-item">
            <a href="#" class="nav-link">JOIN</a>
        </li>
    </ul>
</div>
</div>
</nav>
</nav>
<div class="jumbotron jumbotron-fluid height100p banner"id="home">
    <div class="container h100">
  <div class="contentBox h100">
      </div>
    </div>
</div>
<section class="sec1"id="explore">
    <div class="container">
    <div class="row">
    <div class="offset-sm-2 col-sm-8">
    <div class="headerText">
    <a name="abt"></a>
    <h2  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-center">ABOUT US</h2>
    <p  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">Ozi Gym & Spa is a growing gym chain of Premium Fitness Club operational in North India best-known for keeping its members satisfied for over 2 decades.

        Located in the elite locations of Chandigarh, Mohali, Panchkula, (Zirakpur opening shortly) Our Premium Branch has more than 24,000 sq.ft. of interiors that are immaculately divided into Cardio Theatre, Strength Zone, Spa, HIT Zone, Spinning studio, Cafeteria and Stretching Lobby areas. Ozi has built a widely known and established image for itself amongst the Famous Celebrities, Company Proffesionals, Business Owners, Doctors, Lawyers, A-Class Officers and Youth. The location has become synonym of Fitness for tricity
        </p>
        </div>
        </div>
        </div>
        <br>
        <p class="h4 text-center text-light">OUR BRANCHES</p>
        <div class="row">
            <div class="col-sm-4">
            <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">
            <div class="imgBx">
            <a href="./gym_photos/z2.jpg">
            <img alt="chd" src="./gym_photos/z2.jpg" class="img-fluid">
            </a>
            </div>
            <div class="content">
            <h3>CHANDIGARH<br><small>SECTOR 35</small></h3>
            </div>
            <a href="#" class="btn btn-block btn-light">Read More</a>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
            <div class="imgBx">
              <a href="z3.jpg">
            
            <img alt="mohali" src="./gym_photos/z3.jpg" class="img-fluid">
            </a>
            </div>
            <div class="content">
            <h3>MOHALI<br><small>PHASE 6</small></h3>
            </div>
            <a href="#" class="btn btn-block btn-light">Read More</a>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="placeBox" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
            <div class="imgBx">
                <a href="./gym_photos/z4.jpg">
            
            <img src="./gym_photos/z4.jpg"class="img-fluid">
            </a>
            </div>
            <div class="content">
            <h3>ZIRAKPUR<br><small>VIP ROAD</small></h3>
            </div>
            <a href="#" class="btn btn-block btn-light">Read More</a>
            </div>
            </div>
            </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
    <div class="row " style="background-color: black;">
        
        <div class="col-6">
            <img src="./gym_photos/z5.jpg" class="z5" width="100%" height="100%">
        </div>
        <div class="col-6">
          <h3 class="text-danger display-4">TRICITY MARATHON</h3>
          <p class="p1 text-light"> Ozi Boot Camp is an ultimate outdoor fitness program that offers open-air fitness instruction, valuable nutritional counseling and supportive, motivational training. Each four week session is unique and carefully designed to yield MAXIMUM RESULTS. This stimulating workout alternative should melt body fat, build strength, increase endurance, and encourage your personal best… and you’ll love doing it!
            
            Are you looking for a jump start to your fitness program that is packed with energizing activities designed to help you reach your fitness goals?</p>
            
           <h4 class="text-danger"> ...THEN THIS ADVENTURE IS FOR YOU!</h4>
            </div>

            <section class="contact" id="contact" >
                <div class="container">
                 <div class="row p-3">
                <div class="col-12">
                <div class="headerText">
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Do you liked our templates? OR Do you find them boring ? OR What to appreciate for our hardwork ?
                Your feedback is most important to us. Do mail us at the given mail id." hubtheme1004@gmail.com. " 
            <br>THANKS FOR CONTACTING US , HAVE A NICE DAY</p>
                </div>
                </div>
            </div> 
                </div>
                <div class="row clearfix">
                <div class="offset-sm-2 col-sm-8">
                <form>
                <div class="form-group">
                <label>Name:</label>
                <input type="text"name=""class="form-control">
                </div>
                <div class="form-group">
                <label>Email:</label>
                <input type="text"name=""class="form-control">
                </div>
                <div class="form-group">
                <label>Phone:</label>
                <input type="text"name=""class="form-control">
                </div>
                <div class="form-group">
                <label>Message:</label>
                <textarea class="form-control textarea"name=""></textarea>
                </div>
                <div class="form-group text-center">
                <button class="btn btn-block btn-light">Send</button>
                </div>
                </form>
                </div>
                </div>
                </div>
                </section>
            <div class="row text-light" style="background: black;" id="last">
                <div class="col-3" style="line-height: 35px;">
                    <ul><strong>NEWS & EVENTS</strong>
                        <li>Wellness Program</li>
                        <li>Transformation tuesday</li>
                        <li>Monthly Marathon</li>
                        <li>Diet Counciling</li>
                        <a href="#">Much More</a>
                    </ul>
                </div>
                <div class="col-3" style="line-height: 35px;">
                    <ul><strong>Services</strong>
                        <li>Cardio</li>
                        <li>Weight Training</li>
                        <li>Spa</li>
                        <li>Hitzone</li>
                        <li>Fitness Studio</li>
                        <li>Cafeteria</li>
                        <li>Diet Counciling</li>
                    </ul>
                </div>
                <div class="col-3" style="line-height: 35px;">
                    <ul><strong>More Links</strong>
                        <li>Founder</li>
                        <li>Our Trainers</li>
                        <li>Our Trainers</li>
                        <li> Photo gallery</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-3"style="line-height: 35px;">
                    <b>Stay in touch</b>
                    <pre style="font-family: sans-serif;" class="text-light">
         Tower A, Unitech Business Park,
         Block - F, South City 1, Sector - 41,
         Gurgaon, Haryana - 122001
                    </pre>
                </div>
                
            </div>
            <footer>
                <div class="" style="background: black;">
                <div class="row">
                <div class="col-sm-12">
                <ul class="sci1">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                </div>
                </div>
                </div>
                <div class="p-3 text-light bg-dark text-center ">Powered By ThemeHub </div>

 </div>
                </footer>

            </body>
</html>