<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FlowerShop</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style >
      .bgimg
      {
      background-image: url('https://i.pinimg.com/originals/69/08/5b/69085b75073cfbf3232244f9564134f5.jpg');
      /* background-height:100%; */
      /* background-width:100%; */
       background-size: cover;
      background-position: center;
      background-repeat:no-repeat;
      opacity:0.7;
    }
    </style>
  </head>
  <body>
      <div class="bgimg">
        <!-- <img src="" style="opacity:0.8;" width="100%" style="background-size:cover;"> -->
        <span class="text-light bg-dark" style="font-size:50px">LOGO</span>

        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>

        <div class="mx-auto text-light text-center" style="font-size:150px" >
          COMING SOON
        </div>
        <hr class="bg-light" style="margin:auto;width:60%">
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>
        <!-- <br><br><br><br><br><br><br><br> -->
        <div class="container-fluid text-light text-center bg-dark"><h2 class="text-center text-light">About Us</h2><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br><br> Powered By ThemeHub</div>
        </div>
  </body>
</html>
