<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="a_hotels.css">
  <title>Hotels</title>
    <style>
      
    </style>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-expand-sm  navbar-light" style="background:white; font-weight: bolder; font-size: 20px; ">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#section1">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section2">Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section3">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section4">Contact</a>
        </li>
      </ul>
    </nav>
    <div id="section1" class="container-fluid" style="padding-bottom:70px">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./a_hotels/c2.jpg" alt="...." width="100%" height="400">
          <div class="carousel-caption">
            <h3>Heaven</h3>
            <p>Relax, Recharge, Reflect!</p>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="./a_hotels/c5.jpg" alt="...." width="100%" height="400">
          <div class="carousel-caption">
            <h3>Swimming Pool</h3>
            <p>Die with Memories,Not Dreams!</p>
          </div>   
        </div>
        <div class="carousel-item">
          <img src="./a_hotels/c4.jpg" alt="...." width="100%" height="400">
          <div class="carousel-caption">
            <h3>Luxurious Rooms</h3>
            <p>Your Room,Your Stay!</p>
          </div>   
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
    <br><br><br><br><br>
    <div id="section2" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
    <center><h1 class="text-dark" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">ROOMS</h1></center>
   <center><b> <p>The greatest advantage of a hotel is that it is a refuge from home life.</p></b></center>
    <br><br>
    <div class="card-columns">
      <div class="card" >
        <img class="card-img-top" src="./a_hotels/f1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Family Room</h4>
          <p class="card-text">Rs 6500 / per night</p>
          <a href="#" class="btn btn-dark">Book Now!</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="./a_hotels/si1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Single Room</h4>
          <p class="card-text">Rs 3500 / per night</p>
          <a href="#" class="btn btn-dark">Book Now!</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="./a_hotels/d1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Delux Room</h4>
          <p class="card-text">Rs 8000 / per night</p>
          <a href="#" class="btn btn-dark">Book Now!</a>
        </div>
      </div>
    </div>
    <!--  -->
    </div>
    <br><br><br>
    <center><h1 class="text-dark" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Gallery</h1></center>
   <center><b> <p>Super-luxury hotels are being built in outer place.<br>The new type of heaven is being offered to humans.</p></b></center>
  </div>
  <div id="section3" class="container-fluid " style="padding-top:70px;padding-bottom:70px">
   <div class="row"> 
    <div class="column">
      <br><br><br><br>
      <img src="./a_hotels/g1.jpeg" style="width:100%">
      <img src="./a_hotels/g2.jpg" style="width:100%">
      <img src="./a_hotels/g3.jpg" style="width:100%">
      <img src="./a_hotels/g4.jpg" style="width:100%">
      
    </div>
    <div class="column">
      <img src="./a_hotels/g8.jpg" style="width:100%">
      <img src="./a_hotels/g9.jpg"style="width:100%">
      <img src="./a_hotels/g10.jpg" style="width:100%">
     
    </div>
    
    <div class="column">
      <br>
      <img src="./a_hotels/g5.jpg" style="width:100%">
      <img src="./a_hotels/g6.jpg" style="width:100%">
      <img src="./a_hotels/g7.jpg" style="width:100%">
      <img src="./a_hotels/g13.jpg" style="width:100%">
    </div>
    <div class="column">
      <br><br><br><br><br><br>
      <img src="./a_hotels/g11.jpg" style="width:100%">
      <img src="./a_hotels/g12.jpg" style="width:100%">
      <img src="./a_hotels/g14.jpg" style="width:100%">
    </div>
    </div>
  </div>
    <br><br><br><br><br>
    <div id="section4" class="container-fluid " style="padding-top:70px;padding-bottom:70px">
    <div class="box">
        <h1>Contact Us</h1><br>
        <p>We offer full-service. We understand your needs and we will satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
        <p style="font-size: large; color:#708090;"><b>Heaven in Greenland,Near Green Park,Greenland</b></p>
        <p>You can also contact us by phone XXXXXXXXXX or email XXXXXX@abc.com, or you can send us a message here:</p>
          <form>
              <div>
                  <input type="text"  name="name" required="" >
                  <label>Name:</label>
              </div>
              <div>
                  <input type="number"  name="mobile" required="">
                  <label >Mobile:</label>
              </div>
              <div>
                  <input type="text"  name="no_of_ppl" required="" >
                  <label >How many people</label>
              </div>
              <div>
                  <textarea name="add"  required=""></textarea>
                  <label>Message/Special requirements</label>
              </div>
              <div>
                <input type="submit" name=" " value="SEND MESSAGE">
           </div>
            </form>
            </div>
       </div>    
<br><br><br><br>
<footer class="text-center text-light-grey p-32" style="background-color: rgb(218, 216, 216); width: 100%; height: 80px;padding: 30px;">
  <p>Powered by <a href="#" target="_blank" class="hover-text-dark">ThemeHub</a></p>
</footer>
  </body>
</html>
